* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: rgb(29, 143, 143);
  width: 100%;
  height: 100vh;
  /* align-items: center; */
}
.startedgame {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
  margin-bottom: 50px;
}
@media only screen and (max-width: 500px) {
  .top {
    margin-bottom: 32px;
  }
}
.body {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  /* height: 100%; */
  height: calc(100vh - 78px);
  padding-bottom: 70px;
}
@media only screen and (max-width: 500px) {
  .body {
    padding-bottom: 80px;
  }
}
@media only screen and (max-width: 320px) {
  .body {
    padding-bottom: 95px;
  }
}
.top-1 {
  display: flex;
  align-items: center;
  font-size: 40px;
  color: rgb(247, 247, 247);
}

.top-1-1 {
  display: grid;
  place-items: center;
  border: 4px solid white;
  border-radius: 50%;
  font-size: 30px;
  font-weight: bolder;
  padding: 5px;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .top-1-1 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 360px) {
  .top-1-1 {
    font-size: 17px;
  }
}
@media only screen and (max-width: 320px) {
  .top-1-1 {
    font-size: 13px;
  }
}
.top-2 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  font-size: 40px;
  color: rgb(247, 247, 247);
}
@media only screen and (max-width: 500px) {
  .top-2 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 360px) {
  .top-2 {
    font-size: 24px;
    grid-template-columns: repeat(3, minmax(0, 0.6fr));
  }
}
@media only screen and (max-width: 320px) {
  .top-3 {
    font-size: 18px;
  }
}
.top-3 {
  display: grid;
  font-size: 25px;
  color: rgb(247, 247, 247);
}
@media only screen and (max-width: 500px) {
  .top-3 {
    font-size: 21px;
  }
}
@media only screen and (max-width: 360px) {
  .top-3 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 320px) {
  .top-3 {
    font-size: 17px;
  }
}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 500px) {
  .middle {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .middle {
    margin-top: 40px;
  }
}
.middle-meaning-sentence {
  background-color: rgba(217, 255, 0, 0.89);
  font-size: 20px;
  text-align: center;
  padding: 3px;
  margin: 20px;
  font-weight: bold;
}
@media only screen and (max-width: 740px) {
  .middle-meaning-sentence {
    font-size: 19px;
    width: 600px;
  }
}
@media only screen and (max-width: 625px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 510px;
  }
}
@media only screen and (max-width: 546px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 480px;
  }
}
@media only screen and (max-width: 497px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 410px;
  }
}
@media only screen and (max-width: 428px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 370px;
  }
}
@media only screen and (max-width: 392px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 330px;
  }
}
@media only screen and (max-width: 343px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 280px;
  }
}
@media only screen and (max-width: 300px) {
  .middle-meaning-sentence {
    font-size: 18px;
    width: 250px;
  }
}
.middle-words {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .middle-words {
    width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .middle-words {
    width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .middle-words {
    width: 320px;
  }
}
@media only screen and (max-width: 320px) {
  .middle-words {
    width: 280px;
  }
}
@media only screen and (max-width: 280px) {
  .middle-words {
    width: 270px;
  }
}
.blur-space {
  background-color: rgb(118, 185, 180);
}
.middle-word {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed white;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  /* flex: 1; */
  margin: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .middle-word {
    margin: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .middle-word {
    margin: 0.5rem;
    height: 50px;
    font-size: 28px;
  }
}
@media only screen and (max-width: 400px) {
  .middle-word {
    margin: 0.4rem;
    height: 47px;
    font-size: 26px;
  }
}
@media only screen and (max-width: 320px) {
  .middle-word {
    margin: 0.4rem;
    height: 37px;
    font-size: 21px;
  }
}
.display-word {
  border: 2px solid white;
  background-color: white !important;
}
.middle-words-case {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
  .middle-words-case {
    width: 500px;
  }
}
@media only screen and (max-width: 500px) {
  .middle-words-case {
    width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .middle-words-case {
    width: 320px;
  }
}
@media only screen and (max-width: 320px) {
  .middle-words-case {
    width: 280px;
  }
}
@media only screen and (max-width: 280px) {
  .middle-words-case {
    width: 270px;
  }
}
.middle-word-case {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  /* flex: 1; */
  margin: 1rem;
  border-radius: 4px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  .middle-word-case {
    margin: 0.7rem;
  }
}
@media only screen and (max-width: 500px) {
  .middle-word-case {
    margin: 0.5rem;
    height: 50px;
    font-size: 28px;
  }
}
@media only screen and (max-width: 400px) {
  .middle-word-case {
    margin: 0.4rem;
    height: 47px;
    font-size: 26px;
  }
}
@media only screen and (max-width: 320px) {
  .middle-word-case {
    margin: 0.4rem;
    height: 37px;
    font-size: 21px;
  }
}
.hide-word {
  visibility: hidden;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(253, 255, 253);
  width: 90%;
  height: 40px;
  border: 2px solid rgb(118, 185, 180);
}
.bottom .full {
  height: 40px;
}
.modal-class {
  display: flex;
  flex-direction: column;
  line-height: 2;
  font-size: 20px;
  width: 700px;
  overflow-y: scroll;
  height: 200px;
}
@media only screen and (max-width: 768px) {
  .modal-class {
    width: 550px;
  }
}
@media only screen and (max-width: 628px) {
  .modal-class {
    width: 480px;
  }
}
@media only screen and (max-width: 552px) {
  .modal-class {
    width: 400px;
  }
}
@media only screen and (max-width: 472px) {
  .modal-class {
    width: 300px;
  }
}
@media only screen and (max-width: 383px) {
  .modal-class {
    width: 216px;
  }
}
.hide-modal {
  position: absolute;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  transform: translateY(-100%);
  background-color: aliceblue;
  padding: 20px;
  transition: all 0.7s;
  z-index: 1000;
}
.modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-title-1 {
  background-color: rgb(29, 143, 143);
  margin: auto;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 552px) {
  .modal-title-1 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 472px) {
  .modal-title-1 {
    font-size: 19px;
  }
}
@media only screen and (max-width: 383px) {
  .modal-title-1 {
    font-size: 14px;
    margin-left: -3px;
  }
}
.modal-title-2 {
  font-size: 30px;
}
@media only screen and (max-width: 383px) {
  .modal-title-2 {
    margin-left: 18px;
    font-size: 23px;
  }
}
.modal-title-2:hover {
  color: red;
}
@media only screen and (max-width: 472px) {
  .modal-body-1 {
    font-size: 19px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 383px) {
  .modal-body-1 {
    font-size: 16px;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 472px) {
  .modal-body-2 {
    font-size: 19px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 383px) {
  .modal-body-2 {
    font-size: 16px;
    line-height: 1.7;
  }
}
.tipmodaldiv {
  background-color: rgba(217, 255, 0, 0.89);
}

@media only screen and (max-width: 472px) {
  .tipmodaldiv {
    font-size: 19px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 383px) {
  .tipmodaldiv {
    font-size: 16px;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 472px) {
  .modal-body-3 {
    font-size: 19px;
    line-height: 1.8;
  }
}
@media only screen and (max-width: 383px) {
  .modal-body-3 {
    font-size: 16px;
    line-height: 1.7;
  }
}
.show-modal {
  transform: translateY(77%);
}
.modalbackdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}
.intropart-3 {
  color: rgba(217, 255, 0, 0.89);
  font-size: 50px;
  cursor: pointer;
  border: 4px solid white;
  border-radius: 100%;
  height: 50px;
}
@media only screen and (max-width: 523px) {
  .intropart-3 {
    height: 45px;
    font-size: 45px;
  }
}
@media only screen and (max-width: 395px) {
  .intropart-3 {
    height: 40px;
    font-size: 40px;
  }
}
@media only screen and (max-width: 330px) {
  .intropart-3 {
    height: 35px;
    font-size: 35px;
  }
}
.intropart-2 {
  background-color: rgba(217, 255, 0, 0.89);
  font-size: 30px;
  text-align: center;
  /* color: rgb(29, 143, 143); */
}
@media only screen and (max-width: 523px) {
  .intropart-2 {
    /* padding: 1px; */
    font-size: 27px;
  }
}
@media only screen and (max-width: 475px) {
  .intropart-2 {
    font-size: 22px;
  }
}
@media only screen and (max-width: 395px) {
  .intropart-2 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 330px) {
  .intropart-2 {
    font-size: 16px;
  }
}
.intropart-1 {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 567px) {
  .intropart-1 {
    width: 450px;
  }
}
@media only screen and (max-width: 460px) {
  .intropart-1 {
    width: 350px;
  }
}
@media only screen and (max-width: 351px) {
  .intropart-1 {
    width: 290px;
  }
}
@media only screen and (max-width: 301px) {
  .intropart-1 {
    width: 250px;
  }
}
.intropart-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.intropart-1-1-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  height: 60px;
  width: 60px;
  font-size: 30px;
  font-weight: bold;
  background-color: white;
  /* flex: 1; */
  margin: 0.2rem;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(29, 143, 143);
}
@media only screen and (max-width: 567px) {
  .intropart-1-1-1 {
    height: 55px;
    width: 55px;
    font-size: 27px;
  }
}
@media only screen and (max-width: 460px) {
  .intropart-1-1-1 {
    height: 50px;
    width: 50px;
    font-size: 22px;
  }
}
@media only screen and (max-width: 351px) {
  .intropart-1-1-1 {
    height: 45px;
    width: 45px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 301px) {
  .intropart-1-1-1 {
    height: 42px;
    width: 42px;
    font-size: 18px;
  }
}
.resultmodal {
  position: absolute;
  top: 250px;
  margin: 0 auto;
  left: 0%;
  right: 0%;
  width: 300px;
  z-index: -10000;
  opacity: 0;
  background-color: aqua;
  padding: 10px;
  transition: all 0.1s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: azure;
}
@media only screen and (max-width: 360px) {
  .resultmodal {
    width: 240px;
  }
}
@media only screen and (max-width: 280px) {
  .resultmodal {
    width: 210px;
  }
}
.showresultmodal {
  opacity: 1;
  z-index: 10000;
}
.winnergame {
  position: absolute;
  width: 400px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 250px;
  background-color: rgba(217, 255, 0, 0.89);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  z-index: 100000;
  transform: translateY(-440%);
  transition: all 0.4s;
}
@media only screen and (max-width: 440px) {
  .winnergame {
    width: 340px;
  }
}
@media only screen and (max-width: 380px) {
  .winnergame {
    width: 300px;
  }
}
@media only screen and (max-width: 330px) {
  .winnergame {
    width: 240px;
  }
}
.winnergameshow {
  transform: translateY(0%);
}
.Modalbackdropwinner {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.firstpartwinner {
  width: 100%;
  display: flex;
  align-items: center;
}
.firstpartwinnerspan {
  margin: auto;
}
.secondtextwinner,
.lasttextwinner {
  text-align: center;
}
.closewinnermodal {
  font-size: 20px;
}
.closewinnermodal:hover {
  color: red;
}
